<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- jsPDF -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>


  



  





  

  <script src="/chartjs-mini.js"></script>
  <title>user Action</title>
  <style>
.chart-container {
  position: relative;
  width: 50vw;
  height: 50vh;
}



.product-forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }



  .product-form-container {
  box-sizing: border-box;
  flex-basis: calc(50% - 20px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.card-body {
    
    padding: initial!important;
}



  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 30vw !important;
    height: 63vh !important;
  }

 

 

  .quantity,
  .years {
    grid-column: span 2;
  }


  .chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container,
.bar-chart-container {
  flex: 1;
  margin: 10px;
}

.chart-container canvas,
.bar-chart-container canvas {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.bar-chart-container {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  .form-card {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

table caption {
	padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}


</style>

</head>
<body>
  <%- include('header') %>


  <div id="error-message" class="alert alert-danger" style="display: none;"></div>


  <!-- <button id="download">Download</button> -->

  
  <div class="container">
    <div class="product-forms-container">
      <div class="card form-card">
        <div class="product-form-container">
          <div class="card-body">
            <form id="carbon-emission-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="brand">Brand:</label>
                  <select id="brand" class="form-control brand" name="brand">
                    <option value="">Please select a brand</option>
                  </select>
                </div>
  
                <div class="form-group col-md-6">
                  <label for="model">Model:</label>
                  <select id="model" class="form-control model" name="model">
                    <option value="">Please select a model</option>
                  </select>
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="processor">Processor:</label>
                  <select id="processor" class="form-control processor" name="processor">
                    <option value="">Please select a processor</option>
                  </select>
                </div>
  
                <div class="form-group col-md-6">
                  <label for="ram">RAM:</label>
                  <select id="ram" class="form-control ram" name="ram">
                    <option value="">Please select a RAM size</option>
                  </select>
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="storage">Storage:</label>
                  <select id="storage" class="form-control storage" name="storage">
                    <option value="">Please select a storage size</option>
                  </select>
                </div>
  
                <div class="form-group col-md-6">
                  <label for="screen_size">Screen Size:</label>
                  <select id="screen_size" class="form-control screen_size" name="screen_size">
                    <option value="">Please select a screen size</option>
                  </select>
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="location">Location:</label>
                  <select id="country" class="form-control location" name="location">
                  <% for (const code in countries) { %>
                    <option value="<%= code %>"><%= countries[code].name %></option>
                  <% } %>
                </select>
                </div>
                
  
                <div class="form-group col-md-6">
                  <label for="quantity">Quantity:</label>
                  <input type="number" class="form-control quantity" min="1" name="quantity" placeholder="Quantity">
                </div>
              </div>
  
              <div class="">
                <div class="form-group ">
                  <label for="years">Number of Years:</label>
                  <input type="number" min="1" max="5" class="form-control years" name="years" placeholder="Number of Years">
                </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 

<button  data-toggle="tooltip" data-placement="top" title="Submits All forms Data to generate results" id="submit-all" class="btn btn-primary"> Submit All  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
</svg></button>

  <button  data-toggle="tooltip" data-placement="top" title="Adds new form for adding another device" id="add-product" class="btn btn-secondary">Add Product  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg> </button>
<button  data-toggle="tooltip" data-placement="top" title="Delete the last added form" id="remove-product" class="btn btn-danger"> Remove Product  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
</svg></button>


<button  data-toggle="tooltip" data-placement="top" title="Download the data into a PDF File" id="download" class="btn btn-primary download">Download PDF  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg> </button>





<table id="emissions-detailed-table-separate" class="table table-striped">
  <thead>
    
  </thead>
  <tbody>
   
  </tbody>
</table>



  


  
<div id="charts" class="chart-wrapper">
  <div class="chart-container">
    <canvas id="pieChart" style="height: 400px;"></canvas>
  </div>
  
  <div class="bar-chart-container">
    <canvas id="barChart"></canvas>
  </div>
</div>
</div>

<canvas id="comparisonBarChart"></canvas>


      

  
  <script>




  function createNewProductFormContainer() {
    const formContainer = document.createElement('div');
    formContainer.className = 'card form-card';
    formContainer.innerHTML = `
    <div class="product-form-container">
          
      <div class="card-body">
              <form id="carbon-emission-form">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="brand">Brand:</label>
                    <select id="brand" class="form-control brand" name="brand">
                      <option value="">Please select a brand</option>
                    </select>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="model">Model:</label>
                    <select id="model" class="form-control model" name="model">
                      <option value="">Please select a model</option>
                    </select>
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="processor">Processor:</label>
                    <select id="processor" class="form-control processor" name="processor">
                      <option value="">Please select a processor</option>
                    </select>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="ram">RAM:</label>
                    <select id="ram" class="form-control ram" name="ram">
                      <option value="">Please select a RAM size</option>
                    </select>
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="storage">Storage:</label>
                    <select id="storage" class="form-control storage" name="storage">
                      <option value="">Please select a storage size</option>
                    </select>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="screen_size">Screen Size:</label>
                    <select id="screen_size" class="form-control screen_size" name="screen_size">
                      <option value="">Please select a screen size</option>
                    </select>
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="location">Location:</label>
                    <select id="country" class="form-control location" name="location">
                    <% for (const code in countries) { %>
                      <option value="<%= code %>"><%= countries[code].name %></option>
                    <% } %>
                  </select>
                  </div>
    
                  <div class="form-group col-md-6">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control quantity" name="quantity" placeholder="Quantity">
                  </div>
                </div>
    
                <div class="">
                  <div class="form-group ">
                    <label for="years">Number of Years:</label>
                    <input type="number" class="form-control years" name="years" placeholder="Number of Years">
                  </div>
                </div>
              </form>
            </div>
    
  </div>
    `;
    initializeForm(formContainer);
    return formContainer;
  }


  initializeForm(document.querySelector('.product-form-container'));



  document.querySelector('#remove-product').addEventListener('click', () => {
    const productFormContainers = document.querySelectorAll('.card');
    if (productFormContainers.length > 1) {
      productFormContainers[productFormContainers.length - 1].remove();
    }
  });


  document.addEventListener('DOMContentLoaded', async () => {
      const response = await fetch('/user/unique-brands');
      const brands = await response.json();

      const form = document.querySelector('#carbon-emission-form');
      
      const brandDropdown = form.querySelector('.brand');
      brands.forEach(brand => {
        const option = document.createElement('option');
        option.value = brand;
        option.textContent = brand;
        brandDropdown.appendChild(option);
      });
    });


    document.querySelector('#add-product').addEventListener('click', async () => {
    const productFormsContainer = document.querySelector('.product-forms-container');
    const newProductFormContainer = createNewProductFormContainer();
    productFormsContainer.appendChild(newProductFormContainer);
    
    const response = await fetch('/user/unique-brands');
    const brands = await response.json();

    const form = newProductFormContainer.querySelector('form');
    
    const brandDropdown = form.querySelector('.brand');
    brands.forEach(brand => {
      const option = document.createElement('option');
      option.value = brand;
      option.textContent = brand;
      brandDropdown.appendChild(option);
    });

    initializeForm(newProductFormContainer);  // Initialize the form after populating the dropdown
  });



  


  function initializeForm(form) {

    async function fetchAndPopulateDropdown(route, prevSelections, dropdownSelector) {
      const queryString = prevSelections.map(s => `${s.name}=${s.value}`).join('&');
      console.log("Fetching data from:", route);
      const response = await fetch(`${route}?${queryString}`);
      const data = await response.json();
      console.log("Fetched data:", data);

      const dropdown = form.querySelector(dropdownSelector);
      dropdown.innerHTML = '<option value="">Please select an option</option>';
      data.forEach(item => {
        const option = document.createElement('option');
        option.value = item;
        option.textContent = item;
        dropdown.appendChild(option);
      });
    }

      form.querySelector('.brand').addEventListener('change', async (e) => {
        fetchAndPopulateDropdown('/user/unique-models', [{ name: 'brand', value: e.target.value }], '.model');
      });

      form.querySelector('.model').addEventListener('change', async (e) => {
        fetchAndPopulateDropdown('/user/unique-processors', [{ name: 'brand', value: form.querySelector('.brand').value }, { name: 'model', value: e.target.value }], '.processor');
      });

      form.querySelector('.processor').addEventListener('change', async (e) => {
        fetchAndPopulateDropdown('/user/unique-ram', [{ name: 'brand', value: form.querySelector('.brand').value }, { name: 'model', value: form.querySelector('.model').value }, { name: 'processor', value: e.target.value }], '.ram');
      });

      form.querySelector('.ram').addEventListener('change', async (e) => {
        fetchAndPopulateDropdown('/user/unique-storage', [{ name: 'brand', value: form.querySelector('.brand').value }, { name: 'model', value: form.querySelector('.model').value }, { name: 'processor', value: form.querySelector('.processor').value }, { name: 'ram', value: e.target.value }], '.storage');
      });

      form.querySelector('.storage').addEventListener('change', async (e) => {
        fetchAndPopulateDropdown('/user/unique-screen-size', [{ name: 'brand', value: form.querySelector('.brand').value }, { name: 'model', value: form.querySelector('.model').value }, { name: 'processor', value: form.querySelector('.processor').value }, { name: 'ram', value: form.querySelector('.ram').value }, { name: 'storage', value: e.target.value }], '.screen_size');
      });

      // form.querySelector('.screen_size').addEventListener('change', async (e) => {
      //   fetchAndPopulateDropdown('/user/unique-location', [{ name: 'brand', value: form.querySelector('.brand').value }, { name: 'model', value: form.querySelector('.model').value }, { name: 'processor', value: form.querySelector('.processor').value }, { name: 'ram', value: form.querySelector('.ram').value }, { name: 'storage', value: form.querySelector('.storage').value }, { name: 'screen_size', value: e.target.value }], '.location');
      // });

    }


  // Checking for empty fields
  function checkFormFields(form) {
      const requiredFields = ['brand', 'model', 'processor', 'ram', 'storage', 'screen_size',  'quantity', 'years'];
      for (const field of requiredFields) {
        const input = form[field];
        if (input.value === '') {
          return false;
        }
      }
      return true;
    }

  // Display Error Messages
  function showWarningMessage(message) {
      $('#error-message').text(message).show();
      console.log("insied warning message");
    }

  // Listening to Submit All button
    document.querySelector('#submit-all').addEventListener('click', (event) => {
      event.preventDefault();
      fetchDataAndRenderContent();
    });


    async function fetchDataAndRenderContent() {
  const form = document.querySelector('#carbon-emission-form');

  if (!checkFormFields(form)) {
    document.querySelector('#error-message').style.display = 'block';
    showWarningMessage('Please fill out all form fields.');
    console.log("inside check form");
    return;
  }
  console.log("outside check form");
  document.querySelector('#error-message').style.display = 'none';
 

  const productFormContainers = document.querySelectorAll('.product-form-container');

  const allChartData = [];

  for (const formContainer of productFormContainers) {
    const formData = new FormData(formContainer.querySelector('form'));

    // Fetch chart data
    const response = await fetch('/user/chart-data?' + new URLSearchParams(formData));
    const chartData = await response.json();
    allChartData.push(chartData);

    // Calculate total carbon emissions
    const emissionKeys = [
  'transportation', 
  'packaging', 
  'display', 
  'soc', 
  'battery', 
  'power_supply_unit', 
  'optical_drive', 
  'storage_drive', 
  'chassis', 
  'end_of_life', 
  'device_usage'
];

let totalCarbonEmissions = 0;
for (const key of emissionKeys) {
  totalCarbonEmissions += chartData[key] || 0;
}

    console.log("Total: "+totalCarbonEmissions);

    // Prepare data to be saved
    const saveData = Object.fromEntries(formData);
    saveData.total_carbon_emissions = totalCarbonEmissions;
    console.log("saveData"+saveData);
    console.log(`saveData.total_carbon_emissions ${saveData.total_carbon_emissions}`);

    // Save search details
    const saveResponse = await fetch('/user/save-search', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(saveData)
    });

    if (!saveResponse.ok) {
      console.error('Failed to save search');
    }
  }

  console.log('Fetched data:', allChartData);
  console.log('Individual chart data:', allChartData.map(data => JSON.stringify(data)));
  

  updateTableAndCharts(allChartData);
  updateComparisonBarChart(allChartData[0], allChartData[1]);

}















document.getElementById("download").addEventListener("click", async () => {
  const pdf = new jsPDF('p', 'pt', 'a3');

  const addHeaderFooter = (data) => {
    // Header
    pdf.setFontSize(18);
    pdf.text('Carbon calculator Emissions Report', 10, 20);

    // Footer
    pdf.setFontSize(12);
    pdf.text('Copyright Carbon Emissions Calculator 2023. All rights reserved.', 10, pdf.internal.pageSize.getHeight() - 10);

    // Add a border
    pdf.setLineWidth(1);
    pdf.rect(10, 30, pdf.internal.pageSize.getWidth() - 20, pdf.internal.pageSize.getHeight() - 40);
  };

  const pieChart = document.getElementById("pieChart");
  const barChart = document.getElementById("barChart");

  const pieCanvas = await html2canvas(pieChart);
  const pieChartImg = pieCanvas.toDataURL('image/png');
  pdf.addImage(pieChartImg, 'PNG', 10, 50, 400, 400);

  const barCanvas = await html2canvas(barChart);
  const barChartImg = barCanvas.toDataURL('image/png');
  pdf.addImage(barChartImg, 'PNG', 420, 50, 400, 400);

  // Add border around text
  pdf.setLineWidth(1);
  pdf.rect(10, 1000, pdf.internal.pageSize.getWidth() - 20, 150);
  pdf.setFontSize(12);
  // Add text about each category of emissions
  pdf.text('Scope 1 emissions are direct emissions from sources owned or controlled by the reporting company.' ,8, 1020);
  pdf.text('These emissions come from activities like using fossil fuels to generate electricity, operating vehicles, and using refrigerants.', 8, 1040);

  pdf.text('Scope 2 emissions are indirect emissions from the generation and consumption of purchased or acquired electricity, steam, heat, and cooling.' , 8, 1060);
  pdf.text('These emissions can come from activities such as using electricity to power lights, computers, and other equipment.', 8, 1080);

  pdf.text('Scope 3 emissions are all other indirect emissions that occur in the value chain , excluding upstream and downstream transportation and distribution. ', 8, 1100);
  pdf.text('These emissions can come from activities such as the transportation of raw materials, the production of goods, and the disposal of products.', 8, 1120);

  let currentY = 500;  
  currentY += 20;

  // Add table
  const newTable = document.querySelector("#emissions-detailed-table-separate");
  const newData = [];
  const newHeaders = [];
  const amazonSearchUrls = [];

  for (let i = 0; i < newTable.rows.length; i++) {
    const row = newTable.rows[i];
    const rowData = [];
    for (let j = 0; j < row.cells .length; j++) {
if (i === 0) {
newHeaders.push(row.cells[j].textContent);
// Skip the first 2 cells (Category and Emissions Value)
if (j > 0&& j < row.cells.length - 1) {
// Extract the brand and model names from the header text
let headerText = row.cells[j].textContent;
let brandAndModel = headerText.split(' '); // Assuming the brand and model are separated by a space
let brand = brandAndModel[0];
let model = brandAndModel.slice(1).join(' ');  // Take all words after the brand as the model
let searchUrl = `https://www.amazon.co.uk/s?k=${encodeURIComponent(brand + ' ' + model)}`;
amazonSearchUrls.push({ searchQuery: brand + ' ' + model, searchUrl: searchUrl });
}
} else {
rowData.push(row.cells[j].textContent);
}
}
if (i !== 0) {
newData.push(rowData);
}
}

pdf.autoTable({
startY: currentY,
head: [newHeaders],
body: newData,
styles: {
cellPadding: 1,
fontSize: 16,
valign: 'middle',
overflow: 'linebreak',
tableWidth: 'wrap',
lineWidth: 0.5,
},
headStyles: {
fillColor: [221, 221, 221],
textColor: [0, 0, 0],
},
columnStyles: {
0: { cellWidth: 'wrap' },
1: { cellWidth: 'wrap' },
2: { cellWidth: 'wrap' },
},
didDrawPage: addHeaderFooter,
});

currentY = pdf.lastAutoTable.finalY + 20;

// Add Amazon search links for each brand and model
pdf.text('Search Amazon for the above products. Click on Product names:', 10, currentY);
for (const amazonSearch of amazonSearchUrls) {
currentY += 15;
pdf.textWithLink(amazonSearch.searchQuery, 10, currentY, { url: amazonSearch.searchUrl });
currentY += 20;
}

pdf.save("Carbon Emissions Report.pdf");
});




  let pieChart;
  let barChart;


  function updateTableAndCharts(chartDataArray) {
  console.log("Received chart data:", chartDataArray);

  const totalEmissions = {};
  const categories = [
    'transportation',
    'packaging',
    'display',
    'soc',
    'battery',
    'power_supply_unit',
    'optical_drive',
    'storage_drive',
    'chassis',
    'end_of_life',
    'device_usage',
  ];

  const scopes = {
    'transportation': 'Scope 1',
    'packaging': 'Scope 1',
    'display': 'Scope 1',
    'soc': 'Scope 1',
    'battery': 'Scope 1',
    'power_supply_unit': 'Scope 1',
    'optical_drive': 'Scope 1',
    'storage_drive': 'Scope 1',
    'chassis': 'Scope 1',
    'end_of_life': 'Scope 3',
    'device_usage': 'Scope 2',
  };

  // Populate totalEmissions with the sum of each category's emissions
  chartDataArray.forEach((productData) => {
    categories.forEach((category) => {
      if (!totalEmissions[category]) {
        totalEmissions[category] = 0;
      }
      totalEmissions[category] += productData[category];
    });
  });

  // Calculate sumOfTotalEmissions
  let sumOfTotalEmissions = Object.values(totalEmissions).reduce((a, b) => a + b, 0);




// Get a reference to the table header
const tableHead = document.querySelector('#emissions-detailed-table-separate thead');
tableHead.innerHTML = '';
const headerRow = document.createElement('tr');

// Create a header cell for Category and append it to headerRow
let categoryHeaderCell = document.createElement('th');
categoryHeaderCell.textContent = 'Category';
headerRow.appendChild(categoryHeaderCell);

chartDataArray.forEach((productData, index) => {
  const headerCell = document.createElement('th');
  headerCell.textContent = productData.brand + ' ' + productData.model; 
  headerRow.appendChild(headerCell);
});

// Create a header cell for Scope and append it to headerRow
let scopeHeaderCell = document.createElement('th');
scopeHeaderCell.textContent = 'Scope';
headerRow.appendChild(scopeHeaderCell);

tableHead.appendChild(headerRow);
// Get a reference to the table body
const detailedTableBodySeparate = document.querySelector('#emissions-detailed-table-separate tbody');
detailedTableBodySeparate.innerHTML = '';

// Create rows for each category
for (const category in scopes) {
  const row = document.createElement('tr');

  // Create a cell for the category and append it to the row
  const categoryCell = document.createElement('td');
  categoryCell.textContent = category;
  row.appendChild(categoryCell);

  // Create a cell for each product's emissions in this category and append them to the row
  for (const productData of chartDataArray) {
    const valueCell = document.createElement('td');
    valueCell.textContent = productData[category] || 'N/A';
    row.appendChild(valueCell);
  }

  // Create a cell for the scope and append it to the row
  const scopeCell = document.createElement('td');
  scopeCell.textContent = scopes[category];
  row.appendChild(scopeCell);

  detailedTableBodySeparate.appendChild(row);
}

// Initialize DataTables when the table is available
$(document).ready(function() {
  $('#emissions-detailed-table-separate').DataTable({ pageLength: 15 });
});



















    // Update the pie chart

const centerTextPlugin = {
  id: "centerText",
  beforeDraw: function (chart, args, options) {
    if (options.center) {
      var ctx = chart.ctx;
      var centerConfig = options.center;
      var fontStyle = centerConfig.fontStyle || "Arial";
      var txt = centerConfig.text;
      var color = centerConfig.color || "#000";
      var sidePadding = centerConfig.sidePadding || 20;
      var sidePaddingCalculated = (sidePadding / 100) * (chart.innerRadius * 2);
      ctx.font = "10px " + fontStyle;

      var stringWidth = ctx.measureText(txt).width;
      var elementWidth = chart.innerRadius * 2 - sidePaddingCalculated;
      var widthRatio = elementWidth / stringWidth;
      var newFontSize = Math.floor(30 * widthRatio);
      var elementHeight = chart.innerRadius * 2;
      var fontSizeToUse = Math.min(newFontSize, elementHeight);
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      var centerX = (chart.chartArea.left + chart.chartArea.right) / 2;
      var centerY = (chart.chartArea.top + chart.chartArea.bottom) / 2;
      ctx.font = fontSizeToUse + "px " + fontStyle;
      ctx.fillStyle = color;

      // Calculate the total emissions value for the center text
      const totalEmissionsValue = chart.data.datasets[0].data.reduce(
        (acc, curr) => acc + curr,
        0
      );
      // Update the center text
      const centerText = "Total Emissions: " + totalEmissionsValue;

      ctx.fillText(centerText, centerX, centerY);
    }
  },
};




const ctx = document.getElementById("pieChart").getContext("2d");

if (pieChart) {
  pieChart.destroy();
}

const emissionsData = categories.map((category) =>
  totalEmissions[category.toLowerCase().replace(" ", "_")]
);
const totalEmissionsValue = emissionsData.reduce(
  (acc, curr) => acc + curr,
  0
);

pieChart = new Chart(ctx, {
  type: "doughnut",
  data: {
    labels: categories,
    datasets: [
      {
        data: emissionsData,
        backgroundColor: [
          "#FF6384",
          "#36A2EB",
          "#FFCE56",
          "#4BC0C0",
          "#9966FF",
          "#FF9F40",
          "#FF6384",
        ],
        datalabels: {
          enabled: true,
          formatter: function (value) {
            return value + "%";
          },
        },
      },
    ],
  },
  options: {
    plugins: {
      centerText: {
        center: {
          text: "Total Emissions: " + sumOfTotalEmissions,
          color: "#000",
          fontStyle: "Arial",
          sidePadding: 20,
        },
      },
    },
  },
  plugins: [centerTextPlugin],
});



    // Update the bar chart
    const barCtx = document.getElementById('barChart').getContext('2d');

    if (barChart) {
        barChart.destroy();
    }

    barChart = new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: categories,
            datasets: [{
                data: categories.map(category => totalEmissions[category.toLowerCase().replace(' ', '_')]),
                backgroundColor: [
                    '#FF6384',
                    '#36A2EB',
                    '#FFCE56',
                    '#4BC0C0',
                    '#9966FF',
                    '#FF9F40',
                    '#FF6384',
                ],
            }],
        },
    });
}







$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})




</script>



  
  <%- include('footer') %>
</body>
</html>


      